.body-background {
    height: 100vh;
    font-family: monospace;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.nav-section{
    font-size: 1.5rem;
    color: #20201E;
    /* background-color:black; */
    
}

.nav-section:hover {
    cursor: pointer;
    color: #4285F4;
    transition: color ease 0.5s;
}


.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}


.nav-list-items {
    list-style: none;
    padding: 20px;
    font-size: 1.2rem;
    color: #20201E;
    font-weight: 500;
}

.nav-list-items:hover {
    cursor: pointer;
    color: #4285F4;
    transition: color ease 0.5s;
}

.main {
    display: flex;
    margin-top: 60px;
}

.text-box{
    width: 60%;
    font-size: 2.5rem;
    color: #4285F4;
}
.img-box img{
    transform: rotate(-10deg);
    position: relative;
    left: 60px;
    top: -20px;
    width: 450px;
}

.btn {
    padding: 15px 30px;
    border-radius: 5px;
    border: 2px solid #4285F4;
    background-color: white;
    cursor: pointer;
    color: #4285F4;
    font-size: large;
    text-decoration:none;
    transition: .5s ease;
}

.btn:hover{
    background-color: #4285F4;
    color: white;
}